<section id="contact" class="contact-section">
  <div class="container">
    <!-- 제목 및 설명 -->
    <br> <span style="font-size:95%; text-align: center; display: block;">전북대학교 정치외교학과 21학번 윤혜민입니다. 메일이나 연락처로 편하게 연락주세요.</span> <br>
    <br> <span style="font-size:95%; text-align: center; display: block;">Feel free to contact via email or phone number. </span> <br>
  
    <h2>{{ .Params.sections.contact.content.title }}</h2>
    <p>{{ .Params.sections.contact.content.text | markdownify }}</p>

    <!-- 연락처 정보 -->
    <ul>
      <li><strong>Email: hyemin9973@gmail.com</strong></li>
      <li><strong>Phone: +82-10-9973-5063</strong></li>
      <li><strong>Address: 전북특별자치도 전주시 덕진구 백제대로 567</strong></li>
    </ul>

    <!-- OpenStreetMap 지도 임베드 -->
    <div class="map" style="text-align: center;">
      <iframe 
        width="425" 
        height="350" 
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        src="https://www.openstreetmap.org/export/embed.html?bbox=127.13398838043214%2C35.84556544874156%2C127.13649690151216%2C35.846753849866516&amp;layer=mapnik&amp;marker=35.84615966044353%2C127.13524264097214&amp;lang=ko" 
        style="border: 1px solid black; display: inline-block;">
      </iframe>
      <br/>
      <small><a href="https://www.openstreetmap.org/?mlat=35.84616&amp;mlon=127.13524#map=19/35.84616/127.13524">큰 지도 보기</a></small>
    </div>
  </div>
</section>
