<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Hyemin Youn" />
    <meta property="og:description" content="윤혜민의 포트폴리오 홈페이지입니다">
    <meta property="og:image" content="/avatar.jpg">
    <meta property="og:url" content="https://hyemin-youn.github.io/">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- 기타 메타 태그들 -->
</head>
