<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ "avatar.jpg" }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- 기타 메타 태그들 -->
</head>
