<div class="profile-container">
    <!-- 프로필 사진 -->
    <div class="profile-image">
      <img src="/avatar.jpg" alt="Profile Image">
    </div>
    
    <!-- 이름과 직책 -->
    <div class="profile-info">
      <h2>윤혜민</h2>
      <p>대학생</p>
      <p>전북대학교 정치외교학과, IT정보공학과(복수전공)</p>
  
    <!-- 소셜 아이콘 -->
    <div class="profile-icons">
      <a href="mailto:hyemin99.com" class="icon">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="/uploads/pygame.pdf" class="icon">
        <i class="fas fa-graduation-cap"></i>
      </a>
      <a href="/uploads/calculator.pdf" class="icon">
        <i class="fas fa-id-card"></i>
      </a>
      <a href="/uploads/api.pdf" class="icon">
        <i class="fas fa-file"></i>
      </a>
    </div>
  </div>
    
    <!-- 관심 분야 및 학위 -->
    <div class="profile-details">
      <!-- 관심 분야 -->
      <div class="profile-interests">
        <h3>관심 분야</h3>
        <ul>
          <li>인공지능 (AI)</li>
          <li>클라우드</li>
          <li>개발 (Development & Deploy)</li>
        </ul>
      </div>
  
    <!-- 학위 -->
    <div class="profile-education">
      <h3>학위</h3>
      <p>
        <i class="fas fa-graduation-cap"></i> 정치외교학과
      </p>
      <p>전북대학교</p>
      <p>
        <i class="fas fa-graduation-cap"></i> IT정보공학과
      </p>
      <p>전북대학교</p>
    </div>
  </div>
</div>
  